# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
env/
venv/
.venv/
.env/

# System files (Mac / Windows)
.DS_Store
Thumbs.db
